<html class="letra">
    <head>
        <title>ebebidas</title>
        <link rel="stylesheet" href="/css/index.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
`       <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <header>
            
            <div class="logo-barra-contenedor">
                <a href="/" class="logo" ><img src="images/logonuevo.jpg" alt="Logo" title="Logo ebedidas" style="width: 60%;" ></a>

                <i class="barra-contenedor" >
                        <input  size="22" type="text" value="Buscar productos"  class="barra">
                        <i class="fa fa-search"></i>
                </i>
            
                <nav class="menu_header">
                    <div><a href="/register" style="text-decoration: none;">Creá tu cuenta<i class="fas fa-user separarH"></i></a></div>
                    <div><a href="/login" style="text-decoration: none;">Ingresá<i class="fas fa-sign-in-alt separarH"></i></a></div>
                    <div style="padding-top:10px ;font-size:larger"><a href="/productCart" style="text-decoration: none;"><i class="fas fa-shopping-cart"></i></a></div>
                </nav>  

               

            </div>
                <br>
                <div class="menu_contenedor">
                        
                        <a href="/Home" ><i class="fas fa-home" class="separarH"></i> Home</a>
                        <a href="/productDetail">Productos</a>
                        <a href="/Quienes_somos">Quienes somos</a>
                        <a href="/Contacto">Contacto</a>

                </div>
                <i class="fa-regular fa-cart-shopping"></i>
     
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                <br>
                
        </header>
        <main style="text-align: center;">
            <BR>
            <h2>PAGINA EN CONSTRUCCIóN!!!</h2>
            <div><img src="images/barney.jpg" alt="Logo" title="Logo ebedidas" style="width: 40%; mix-blend-mode: multiply;padding: 2%;" ></div>
            
        </main>    
        <footer>
            
            <div class="footer_contenedor">
                <div><i class="fab fa-facebook iconos_footer"></i><i class="fab fa-instagram-square iconos_footer separarH"></i>
                <h4><b>Seguinos en redes sociales</b></h4></div>
                
            
                <div ><i class="fas fa-gift iconos_footer"></i>
                <h4><b>Envío gratis desde $ 2.500</b></h4></div>

                
                <div ><i class="fas fa-user-shield iconos_footer"></i>
                <h4><b>Seguridad, de principio a fin</b></h4></div>

                <div><a href="/" style=" text-decoration: none;color: white;"><i class="fab fa-whatsapp iconos_footer"></i>
                <h4><b>CONTACTOS</b></h4></a></div>
                
            </div>
            <div style="background-color:rgb(71, 134, 92);color: white;text-align: center; font-weight: bold;">Copyright © 1999-2022 ebebidas S.R.L.</div>
            <br>
        
        </footer>
    </body>
</html>