<html class="letra">
    <head>
        <title>ebebidas</title>
        <link rel="stylesheet" href="/css/productDetail.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
`       <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <header>
            
            <div class="logo-barra-contenedor">
                <a href="/" class="logo" ><img src="images/logonuevo.jpg" alt="Logo" title="Logo ebedidas" style="width: 60%;" ></a>

                <i class="barra-contenedor" >
                        <input  size="22" type="text" placeholder="Buscar productos"  class="barra">
                        <i class="fa fa-search"></i>
                </i>
            
                <nav class="menu_header">
                    <div><a href="/register" style="text-decoration: none;">Creá tu cuenta<i class="fas fa-user separarH"></i></a></div>
                    <div><a href="/login" style="text-decoration: none;">Ingresá<i class="fas fa-sign-in-alt separarH"></i></a></div>
                    <div style="padding-top:10px ;font-size:larger"><a href="/productCart" style="text-decoration: none;"><i class="fas fa-shopping-cart"></i></a></div>
                </nav>  
            </div>
                <br>
                <div class="menu_contenedor">
                        
                        <a href="/Home" ><i class="fas fa-home" class="separarH"></i> Home</a>
                        <a href="/productDetail">Productos</a>
                        <a href="/Quienes_somos">Quienes somos</a>
                        <a href="/Contacto">Contacto</a>

                </div>
                <i class="fa-regular fa-cart-shopping"></i>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                <br>
                
        </header>
        <main>
            <br>
            <article class="articulos-carrito">
                <div style="width: 25%;text-align: center;">
                    <img class="imagenOfertas" src="images/wastein.jpg" alt="oferta1" title="oferta1" style="height: fit-content; width: 80%;">
                </div>
            <div  class="descripcionCarrito">        
                    <h4>Warsteiner</h4>
                    <p>Con dos lupulos cuidadosamente seleccionados, para encontrar el perfecto equilibrio entre el aroma y el amargor justo.</p>
            </div>

            <div style="width:35%;text-align: center;padding: 2%;">
                <div style="font-weight:bold;">Precio: $400</div>
            <form action="/home" method="get">
                    <label >Cantidad</label>
                    <select name="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select> 
                <div><button type="submit" style="margin-top:2%">Añadir al carrito</button></div>
            </form>             
            </div>        
        </article>
            <article class="articulos-carrito">
                <div style="width: 25%;text-align: center;">
                    <img class="imagenOfertas" src="images/articulo1.jpg" alt="oferta1" title="oferta1" style="height: fit-content; width:80%;">
                </div>
            <div  class="descripcionCarrito">        
                    <h4>Brouwerij IPA</h4>
                    <p>Hermosa cerveza rubia oscura con un pronunciado sabor a lúpulo de los lúpulos Cascade y Citra. Una auténtica IPA inglesa. </p>
            </div>
            </div>
            <div style="width:35%;text-align: center;padding: 2%;">
                <div style="font-weight:bold;">Precio: $400</div>
            <form action="/home" method="get">
                    <label >Cantidad</label>
                    <select name="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select> 
                <div><button type="submit" style="margin-top:2%">Añadir al carrito</button></div>
            </form>             
            </div>        
        </article>

        <br>
        </main>
        <footer>
            <div class="footer_contenedor">
                <div>
                    <a href=""><i class="fab fa-facebook iconos_footer"></i></a>
                    <a href=""><i class="fab fa-instagram-square iconos_footer separarH"></i></a>
                <h4><b>Seguinos en redes sociales</b></h4>
            </div>
                
            
                <div ><i class="fas fa-gift iconos_footer"></i>
                <h4><b>Envío gratis desde $ 2.500</b></h4></div>
    
                
                <div ><i class="fas fa-user-shield iconos_footer"></i>
                <h4><b>Seguridad, de principio a fin</b></h4></div>
    
                <div><a href="/" style=" text-decoration: none;color: white;"><i class="fab fa-whatsapp iconos_footer"></i>
                <h4><b>CONTACTOS</b></h4></a></div>
                
            </div>
            <div style="background-color:rgb(5, 5, 20);color: white;text-align: center; font-weight: bold;">Copyright © 1999-2022 ebebidas S.R.L.</div>
            <br>
        
        </footer>
    </body>
    </html>
</body>
</html>