<footer>
    
    <a href="https://wa.me/543516665746?text=Quiero%20consultar%20por%20algun%20producto" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>

    <div class="footer_contenedor">
        <div>
            <a href=""><i class="fab fa-facebook iconos_footer"></i></a>
            <a href=""><i class="fab fa-instagram-square iconos_footer separarH"></i></a>
            <h4><b>Seguinos en redes sociales</b></h4>
        </div>
        
    
        <div ><i class="fas fa-gift iconos_footer"></i>
        <h4><b>Envío gratis desde $ 2.500</b></h4></div>

        
        <div ><i class="fas fa-user-shield iconos_footer"></i>
        <h4><b>Seguridad, de principio a fin</b></h4></div>
        
    </div>
    <div style="background-color:rgb(5, 5, 20);color: white;text-align: center; font-weight: bold;">Copyright © 1999-2022 ebebidas S.R.L.</div>
    <br>
</footer>