<html class="letra">
    <%- include ('../partials/head', {hojaDeEstilo: 'index.css', titulo:'coctelería'}) %>      

    <body>
        <%- include ('../partials/header', {hojaDeEstilo: 'index.css', titulo:'coctelería'}) %>      

        
        <main >
            <BR>
            <h1 class = "titulo2"  id="listado"> "Cócteles clásicos que tienes que conocer"</h1>
           
        
                <h2 class="subtitulo">Listado de cocteles</h2>
                <P>El mundo de la coctelería se ha caracterizado en los últimos tiempos por una gran expansión y un enorme crecimiento en cuanto a nuevas propuestas creativas.

                    Hoy en día podemos encontrar innumerables cócteles, una incesante oferta para casi todos los gustos. Sin embargo, hay algunos de larga tradición que perduran con el paso del tiempo, más allá de modas y tendencias,  y que se han convertido en clásicos insustituibles. Muchos de ellos forman parte de nuestro imaginario colectivo, como elementos clave de películas, libros, series de televisión, etc.</P>
                <div class="contenedorflex">
                    <div>
                        <ul>
                            
                            <li><a href="#gin-tonic" title="Bloody Mary" style="text-decoration: none ; color:black">Gin Tonic</a></li>
                            <br>
                            <li><a href="#bloody-mary" title="Bloody Mary"  style="text-decoration: none ; color:black">Bloody Mary</a></li>
                            <br>
                            <li><a href="#caipirinha" title="Bloody Mary"  style="text-decoration: none ; color:black">Caipirinha</a></li>
                            <br>
                            <li><a href="#martini" title="Bloody Mary"  style="text-decoration: none ; color:black">Dry Martini</a></li>
                            <br>
                            <li><a href="#negroni" title="Bloody Mary"  style="text-decoration: none ; color:black">Negroni</a></li>

                                                
                        </ul>
                    </div>
                    <img src="../images/cocteleria-inicio.jpg" alt="Logo" title="cocteleria" style="width: 55%;padding: 2%;" >
                </div>
          
            <div>
                <h3 id="gin-tonic">Gin Tonic</h3>
                <p>Probablemente, es el cóctel más  consumido, todo un icono en el mundo de los combinados. Se ha puesto tan de moda en las dos últimas décadas que puede haberse devaluado su imagen entre algunos buenos amantes de la coctelería. Sin embargo, preparar un buen gin tonic tiene un protocolo muy definido y requiere una buena técnica que hay que saber desarrollar. Básicamente, este cóctel se compone de ginebra, tónica, hielo y una rodaja de lima o limón. Lo ideal es servirlo en copa de balón o, en su defecto, en vaso ancho.</p>
                <div class="contenedorflex">
                    <img src="../images/gin-tonic.jpg" alt="Logo" title="cocteleria" style="width: 40%;padding: 2%;" >
                    <div>
                        <h3>Ingredientes para 1 copa</h3>
                        <ul>
                            <li>50 cc de gin</li>
                            <li>100 cc de agua tónica</li>
                            <li>Hielo</li>
                            <li>1 lima</li>
    
                        </ul>
                        <h3>Cómo se prepara un gin tonic mágico en 4 pasos</h3>
                        <ul>
                            <li>Llenar ¾ copa con hielo y remover un poco para enfriarla.</li>
                            <li>Cortar la lima por la mitad y luego una mitad en rodajas reservando estas para adornar.</li>
                            <li>Eliminar el agua sobrante en la copa y exprimir ½ lima dentro. Servir los 50 cc. de ginebra dentro de la copa.</li>
                            <li>Por último colocar la copa de costado e ir agregando la tónica de a poquito. Decorar con los ¼ de lima y mezclar con un giro.</li>
    
                        </ul>
                        <a href="#listado" title="Bloody Mary">subir</a>
                    </div>
                    
                </div>
            </div>
            
            <div>
                <h3 id="bloody-mary">Bloody Mary</h3>
            <p>Uno de los cócteles más exitosos en Estados Unidos, mundialmente reconocido. Para encontrar sus orígenes hay que rastrearlos en el París de los años 20, concretamente en el Harry’s New York Bar de la ciudad del amor, donde Fernand Petiot lo elaboró por primera vez. Se prepara con vodka, zumo de tomate, una cucharada de zumo de limón, tabasco, salsa Perrins, sal y pimienta.</p>
                <div class="contenedorflex">
                    <img src="../images/bloody-mary.jpg" alt="Logo" title="cocteleria" style="width: 40%;padding: 2%;">
                    <div>
                        <h3>Ingredientes para 1 copa</h3>
                        <ul>
                            <li>45 ml de vodka</li>
                            <li>50 ml de jugo de tomate</li>
                            <li>2 cucharaditas de salsa picante</li>
                            <li>10 ml de salsa inglesa</li>
                            <li>1 pizca de pimienta negra molida</li>
                            <li>1 pizca de sal de ajo</li>
                            <li>1 cuña de limón</li>

    
                        </ul>
                        <h3>Cómo se prepara un Bloody Mary en 3 pasos</h3>
                        <ul>
                            <li>Remover todos los ingredientes en un recipiente de mezcla.</li>
                            <li>Servir en un vaso de trago largo.</li>
                            <li>Decorar con limón y apio.</li>
                           
                        </ul>
                        <a href="#listado" title="Bloody Mary">subir</a>
                    </div>
                    
                </div>
            </div>

           
            <div>
                <h3 id="caipirinha">Caipirinha</h3>
                <p>Procedente de Brasil y muy popular en todo el mundo, es un combinado refrescante que se toma con pajita para poder llegar al fondo, donde se mezcla el líquido con el azúcar, y sacarle su mejor sabor. Se prepara con una bebida alcohólica llamada cachaza, que se produce por la destilación del jugo de caña de azúcar. Se completa con lima, azúcar y hielo.</p>
                    <div class="contenedorflex">
                        <img src="../images/caipirinha.jpg" alt="Logo" title="cocteleria" style="width: 60%;padding: 2%;" >
                        <div>
                            <h3>Ingredientes para 1 copa</h3>
                            <ul>
                                <li>1 lima cortada en cuartos</li>
                                <li>45 ml de cachaça</li>
                                <li>20 ml de almíbar</li>
                                <li>Hielo picado</li>
                               
                            </ul>
                            <h3>Cómo se prepara una Caipirinha en 4 pasos</h3>
                            <ul>
                                <li>Machacar todos los ingredientes en un vaso bajo.</li>
                                <li>Llenar con hielo picado.</li>
                                <li>Ajitar energicamente.</li>
                                <li>Decorar con lima.</li>
                            </ul>
                            <a href="#listado" title="Bloody Mary">subir</a>
                        </div>
                        
                    </div>
            </div>
          
            

            <div>
                <h3 id="martini">Dry Martini</h3>
                <p>Un clásico entre los clásicos. Aunque James Bond lo prefiere con vodka, el Dry Martini se prepara con ginebra, vermut, cáscara de limón y hielo. Cierto es que en Estados Unidos todavía se nota la influencia del agente secreto de ficción más famoso, pero en Europa pronto se volvió al destilado original, bautizando el preferido del 007 como “vodkatini”.  El Dry Martini es un cóctel de sabor intenso, seco y con un punto ácido. Se sirve en una copa tipo Martini.</p>
                    <div class="contenedorflex">
                        <img src="../images/martini.jpg" alt="Logo" title="cocteleria" style="width: 55%;padding: 2%;" >
                        <div>
                            <h3>Ingredientes para 1 copa</h3>
                            <ul>
                                <li>45ml Tanqueray London Dry Gin (u otro gin que tengas en casa).</li>
                                <li>5ml dry vermouth.</li>
                                <li>1 aceituna</li>
                                
                               
                            </ul>
                            <h3>Cómo se prepara un Perfect Martini en 4 pasos</h3>
                            <ul>
                                <li>llenar una coctelera con hielo.</li>
                                <li>Agregar el gin .</li>
                                <li>Agregar dry vermouth.</li>
                                <li>revolver hasta que se enfríe.</li>

                            </ul>
                            <a href="#listado" title="Bloody Mary">subir</a>
                        </div>
                        
                    </div>
            </div>

            

                <div>
                    <h3 id="negroni">Negroni</h3>
                    <p>Fue inventado en 1919 por el Conde Negroni, que sustituyó la soda por ginebra en lo que se conoce como el cóctel Americano. Así, este potente combinado italiano reúne distintos alcoholes: ginebra, campari y vermut. El equilibrio entre los tres debe ser perfecto para alcanzar el punto de sabor deseado. Se consume en vaso Old Fashioned y se decora con una rodaja de naranja.</p>
                        <div class="contenedorflex">
                            <img src="../images/negroni.jpg" alt="Logo" title="cocteleria" style="width: 50%;padding: 2%;" >
                            <div>
                                <h3>Ingredientes para 1 copa</h3>
                                <ul>
                                    <li>30 ml de gin.</li>
                                    <li>30 ml de vermouth rosso.</li>
                                    <li>30 ml de Campari.</li>
                                    
                                   
                                </ul>
                                <h3>Cómo se prepara un Perfect Martini en 4 pasos</h3>
                                <ul>
                                    <li>En un vaso largo sumar rocas de hielo.</li>
                                    <li>Añadir el gin, el vermouth y el Campari.</li>
                                    <li>Remover. Servir colando en un vaso old fashion con hielo, mientras se retuerce piel de naranja sobre el cóctel. Si se desea, decorar con piel o rodaja de naranja.</li>
                                    <li>revolver hasta que se enfríe.</li>
    
                                </ul>
                                <a href="#listado" title="Bloody Mary">subir</a>
                            </div>
                            
                        </div>
                </div>

           <br>
        </main>    
       
        <%- include ('../partials/footer', {hojaDeEstilo: 'index.css', titulo:'Error'}) %>  
    </body>
</html>