<html class="letra">
    <%- include ('../partials/head', {hojaDeEstilo: 'index.css', titulo:'error'}) %>      

    <body>
        <%- include ('../partials/header', {hojaDeEstilo: 'index.css', titulo:'error'}) %>      

        
        <main style="text-align: center;">
            <BR>
            <h2>PAGINA EN CONSTRUCCIóN!!!</h2>
            <div><img src="../images/barney.jpg" alt="Logo" title="Logo ebedidas" style="width: 40%; mix-blend-mode: multiply;padding: 2%;" ></div>
            
        </main>    
       
        <%- include ('../partials/footer', {hojaDeEstilo: 'index.css', titulo:'Error'}) %>  
    </body>
</html>