<html class="letra">
    <%- include ('../partials/head', {hojaDeEstilo: 'index.css', titulo:'error'}) %>      

    <body>
        <%- include ('../partials/header', {hojaDeEstilo: 'index.css', titulo:'error'}) %>      

        
        <main class = "quienesSomos">
            <BR>
            <h1>Nooo, que pasó!!!!</h1>
            <br>
            <div><img src="../images/salioMal.jpeg" alt="Logo" title="Logo ebedidas" style="width: 40%; mix-blend-mode: multiply;padding: 2%;" ></div>
            <br>
            <h1>Algo salió Mal!!!!</h1>
            <br>

            
        </main>    
       
        <%- include ('../partials/footer', {hojaDeEstilo: 'index.css', titulo:'Error'}) %>  
    </body>
</html>