<html class="letra">
    <%- include ('../partials/head', {hojaDeEstilo: 'index.css', titulo:'quienesSomos'}) %>      

    <body>
        <%- include ('../partials/header', {hojaDeEstilo: 'index.css', titulo:'error'}) %>      

        
        <main class="quienesSomos">
            <br>
            <h1>Nuestros Servicios</h1>
            <div><img src="../images/quienesSomos.jpeg" alt="Logo" title="Logo ebedidas" style="width: 60%; mix-blend-mode: multiply;padding: 2%;" ></div>
           
            <div>
                <p>Operamos nuestros propios e-commerce. Sabemos como hacerlo. Te acompañamos desde la idea hasta la puesta en marcha en todas las etapas del proyecto.</p>
            <br>
            </div>
            
        </main>    
       
        <%- include ('../partials/footer', {hojaDeEstilo: 'index.css', titulo:'Error'}) %>  
    </body>
</html>